 <html>
   <head>
     <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/css/index.css" />
     <script src="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/js/middleware.js"></script>
   </head>
   <body>
     <div id="root"></div>
     <script>
       GraphQLPlayground.init(document.getElementById('root'), {
         endpoint: '/graphql'
       })
     </script>
</body>
</html>